.swiper {
    width: 100% !important;
    height: auto !important;
}

.swiper-button-container{
    display: block !important;
}

.swiper-button-next:after, .swiper-button-prev:after{
    display: none !important;
}

.swiper-button-next, .swiper-button-prev{
    width: 64px !important;
    height: 64px  !important;
    transition: all 0.2s ease-in-out !important;
    background: #5468E7 !important;
    border-radius: 90px !important;
}

.swiper-button-disabled{
    background: transparent !important;
}

@media only screen and (max-width: 991px) {
.swiper-button-next, .swiper-button-prev{
    position: unset !important;
    margin-top: 0 !important;
}

.swiper-button-container{
    display: flex !important;
    gap: 16px !important;
}

.swiper{
    padding: 0 32px !important;

}

}
